<h1>Lista de productos | CoderHouse</h1>
<div style="display:none;flex-direction:column" id="userinfo">
    Datos de usuario
    <div>
        Nombre: <span id="user-fullname"></span>
    </div>
    <div>
        Correo: <span id="user-email"></span>
    </div>
    <div style="display:none;" id="useradmin">
        Felicidades ! Eres administrador
    </div>
    <div>
        <button id="logout">Cerrar sesion</button>
    </div>

</div>
<ul id="productlist" style="display:flex; flex-direction:column; gap: 20px">

</ul>
<script>

    const getProducts = async () => {
        const fetchProducts = await fetch("/api/products", { method: 'GET' })
        const products = await fetchProducts.json()
        if (products.payload.length > 0) {
            const htmlList = document.getElementById("productlist")
            products.payload.forEach(product => {
                const liElement = document.createElement('li');
                liElement.setAttribute("id", product.id);
                liElement.innerHTML =
                    `
                    <div style="display:flex; flex-direction: column ;gap: 10px;">
                        <div style="display:flex ; align-item: center; gap: 5px;">
                            <span>Nombre: </span> <span>${product.title}</span>
                        </div>
                        <div style="display:flex ; align-item: center; gap: 5px;">
                            <span>Descripcion: </span> <span>${product.description} </span>
                        </div>
                        <div style="display:flex ; align-item: center; gap: 5px;">
                            <span>Stock: </span> <span>${product.stock} </span>
                        </div>
                        <div style="display:flex ; align-item: center; gap: 5px;">
                            <span>Price: </span> <span>${product.price} </span>
                        </div>
                    </div>
                    `
                htmlList.appendChild(liElement)
            })
        } else {
            const htmlList = document.getElementById("productlist")
            htmlList.innerText = "Sin productos"
        }
    }

    getProducts()

    const githubUser = {
        _id: "{{user._id}}" ?? '',
        email: "{{user.email}}"?? '',
        name: "{{user.name}}"?? '',
        lastName: "{{user.lastName}}"?? '',
        rol: "{{user.rol}}"?? '',
    }
    if (githubUser) {
        localStorage.setItem("user", JSON.stringify(githubUser))
    }
    const user = localStorage.getItem("user")

    if (user) {
        const formatedUser = JSON.parse(user)
        document.getElementById("userinfo").style.display = "flex"
        document.getElementById("user-fullname").innerHTML = `${formatedUser.name} ${formatedUser.lastName}`
        document.getElementById("user-email").innerHTML = `${formatedUser.email}`
        if (formatedUser.rol === "admin") {
            document.getElementById("useradmin").style.display = "flex"
        }
    }

    document.getElementById("logout").addEventListener("click", (e) => {
        e.preventDefault()
        localStorage.removeItem("user")
        setTimeout(() => {
            document.location = "login"
        }, 500)
    })
</script>